.sign-in-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    border:1px solid #333;
    padding: 15px 25px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    h2{
        margin: 10px 0px;
    }
}
.buttons-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}